{%- with -%}
    {%- set form = value -%}

    {%- if form.errors -%}
        <ul class="form-errors">
            {%- for field_name, field_errors in form.errors|dictsort if field_errors -%}
                {%- for error in field_errors -%}
                    <li class="error">{{ form[field_name].label }}: {{ error }}</li>
                {%- endfor -%}
            {%- endfor -%} 
        </ul>
    {%- endif -%}


    <form id = "{{ form['id'] }}" method = "{{ form['method'] }}" action = "{{ form['action'] }}"  {% if form.has_key('enctype') %} enctype = "{{ form['enctype'] }}" {% endif %}>

      {%- for elem in form['fields'].values() -%}
          {%- with value = elem['value'] -%}
              {%- include elem['template'] -%}
          {%- endwith -%}
      {%- endfor -%}

    </form>
{%- endwith -%}
