{%- import 'macros.jinja' as macros -%}

<!doctype html>
<html>
    <head>
        <title>{{ page['title'] }}</title>
        <script type="text/javascript" src="{{ url_for('static', filename='skunkfart.js')  }}"></script>
    </head>
    <body>

        {%- with messages = get_flashed_messages() -%}
            {%- if messages -%}
                <div id="message-wrapper">
                    <ul id="messages">
                        {% for message in messages -%}
                            <li>{{ message }}</li>
                        {%- endfor %}
                    </ul>
                </div>
            {%- endif -%}
        {%- endwith -%}

        <div id="content-wrapper">
            {% for key, block in page['regions']['content'].iteritems() -%}
                <div class="block-{{ key }}">
                    {{ macros.render_recursive(block) }}
                </div>
            {%- endfor %}
        </div>

    </body>
</html>
