{%- macro menu_structure(structure, name, level = 0) -%}
    {%- if structure|length() -%}
 
        <ul class="menu {{ name }} level-{{ level }}">

            {%- for path, struct in structure.iteritems() -%}
                <li class="menu-item level-{{ level }}">

                    <a href="{{ path }}">{{ struct.pop('label') }}</a>

                    {%- if  struct|length() -%}
                        <div class="children">
                            {{ menu_structure(struct, name, (level+1)) }}
                        </div>
                    {%- endif -%}

                </li>
            {%- endfor -%}

        </ul>

    {%- endif -%}
{%- endmacro -%}

{{ menu_structure(menu.structure, menu.name) }}
