{%- macro section_structure(structure, name, level = 0) -%}
    {%- if structure|length() -%}
 
        <ul class="section {{ name }} level-{{ level }}">

            {%- for path, struct in structure.iteritems() -%}
                <li class="section-item level-{{ level }}">

                <a href="{{ path }}">{{ struct.pop('label') }}</a>

                    {%- if  struct|length() -%}
                        <div class="children">
                            {{ section_structure(struct, name, (level+1)) }}
                      </div>
                    {%- endif -%}

                </li>
            {%- endfor -%}

        </ul>

    {%- endif -%}
{%- endmacro -%}

{{ section_structure(value.structure, value.name) }}
