{%- import 'macros.jinja' as m -%}

<table {{ m.render_attribs(value, ['head', 'rows']) -}}>
{%- if value.has_key('head') -%}
    <thead>
        <tr>
            {%- for class, head in value['head'].iteritems() -%}
                <th class="{{ class }}">{{ m.render_recursive(head) }}</th>
            {%- endfor -%}
        </tr>
    </thead>
{%- endif -%}

{%- if value.has_key('rows') -%}
    <tbody>
        {%- for class, row in value['rows'].iteritems() -%}
            <tr class="{{ class }}">
                {%- for class, field in row.iteritems() -%}
                    <td class="{{ class }}">
                        {{ m.render_recursive(field) }}
                    </td>
                {%- endfor -%}
            </tr>
        {%- endfor -%}
    </tbody>
{%- endif -%}
</table>
