{%- import 'macros.jinja' as m -%}

{%- if value['items']|length() -%}
    <ul {{ m.render_attribs(value, ['items']) }}>
    {%- for item in value['items'] -%}
        <li>{{ m.render_recursive(item) }}</li>
    {%- endfor -%}
    </ul>
{%- endif -%}
