{%- macro render_recursive(structure) -%}

    {%- if structure is string -%}

        {{- structure -}}

    {%- else -%}

      {%- if structure.template|length() -%}
          {%- with value = structure.pop('value') -%}
              {%- include structure.pop('template') -%}
          {%- endwith  -%}
      {%- endif -%}

      {%- if structure|length() -%}
          {%- if structure is mapping -%}
            {%- for name, child in structure.iteritems() -%}
                {{- render_recursive(child) -}}
            {%- endfor -%}
          {%- elif structure is iterable -%}
            {%- for child in structure -%}
                {{- render_recursive(child) -}}
            {%- endfor -%}
          {%- endif -%}
      {%- endif -%}

    {%- endif -%}

{%- endmacro -%}



{%- macro render_attribs(item, except = []) -%}
    {%- for key, val in item.iteritems(): -%}
        {%- if not key in except -%}
            {{- key -}}="{{- val -}}"
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}
